.ProducList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProductList_cards {
  width: min(1200px, 90%);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
