.header {
  width: 100%;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.header_logo img {
  height: 30px;
  width: 30px;
}

.header_logo span {
  font-weight: 600;
  font-size: 1rem;
  color: var(--contrast-secondary);
}

.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header_nav a {
  text-decoration: none;
  color: var(--contrast-secondary);
  font-size: 0.9rem;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.header_nav a:hover {
  background-color: var(--bg-secondary);
  color: var(--contrast-primary);
}

.header_search {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header_search input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.header_search button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background-color: #000;
  color: white;
  cursor: pointer;
}

.carrito {
  text-decoration: none;
  color: var(--contrast-secondary);
  position: relative;
}

.carrito span {
  width: 15px;
  height: 15px;
  background-color: var(--contrast-primary);
  color: white;
  position: absolute;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_menu {
  background: none;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    gap: 20px;
  }
  .header_logo span {
    font-size: 0.8rem;
  }
  .header_nav {
    gap: 0;
  }
  .header_nav a {
    font-size: 0.8rem;
    padding: 0 10px;
  }
  .header_search input {
    padding: 3px 7px;
  }
  .header_search button {
    padding: 3px 6px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    overflow: hidden;
  }
  .header_nav {
    display: none;
  }
  .header_logo span {
    font-size: 0.8rem;
  }
  .header_search {
    display: none;
  }
  .header_menu {
    display: flex;
  }
}
